:root {
  --color-primary: #f0f2f5;
  --color-secondary: #03039d;
  --color-accent--blue: #0b6efd;
  --color-accent--blue-hover: #3988f8;
  --color-accent--green: #028a02;
  --color-accent--green-hover: #51b004;
  --color-accent--red: #e20d0d;
  --color-accent--red-hover: #f14545;
  --color-body: #414042;
  --color-headings: #1e1e1c;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  background: var(--color-primary);
}

hr {
  background-color: lightgray;
  border: 1px solid lightgray;
  margin: 20px 0;
}

.App {
  height: 100vh;
  text-align: center;
}

/* Typography */

::selection {
  background: #fff;
  color: var(--color-body);
}

html {
  font-size: 62.5%;
}

body {
  color: var(--color-body);
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4 {
  color: var(--color-headings);
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2.2rem;
}
h4 {
  font-size: 1.8rem;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2.5rem;
  }
  h4 {
    font-size: 2rem;
  }
}

/* Container */

section {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 100%;
  max-width: 1200px;
}

.flex {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 640px;
}

.main--description {
  color: var(--color-secondary);
  font-size: 2.25rem;
  margin: 10px 0;
  max-width: 30ch;
}

@media screen and (min-width: 768px) {
  .flex {
    flex-direction: row;
    margin: 0;
    justify-content: space-evenly;
  }
}

/* Forms */

form {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 15px rgb(0 0 0 / 25%);
  padding: 20px;
  width: 320px;
  height: 300px;
}

input {
  border: 1px solid rgb(230, 228, 228);
  border-radius: 5px;
  color: var(--color-body);
  display: block;
  font-size: 1.6rem;
  margin-bottom: 15px;
  outline: none;
  padding: 10px;
  width: 100%;
}

input:focus {
  border: 2px solid var(--color-accent--blue);
}

.error {
  background: rgb(248, 211, 211);
  border: 2px solid red;
  border-radius: 5px;
  color: red;
  font-size: 1.3rem;
  margin: 0 0 5px 0;
}

.success {
  background: rgb(186, 243, 177);
  border: 2px solid var(--color-accent--green-hover);
  border-radius: 5px;
  color: var(--color-accent--green);
  font-size: 1.3rem;
  margin: 0 0 5px 0;
}

/* Buttons */
.btn {
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  max-width: 100%;
  line-height: 1.35;
  outline: 0;
  padding: 10px 10px;
  text-decoration: none;
  white-space: nowrap;
}

.btn--stretched {
  width: 100%;
}

.btn--green {
  color: #fff;
  background: var(--color-accent--green);
  transition: background 0.3s;
}

.btn--green:hover {
  background: var(--color-accent--green-hover);
}

.btn--blue {
  color: #fff;
  background: var(--color-secondary);
  transition: background 0.3s;
}

.btn--blue:hover {
  background: var(--color-accent--blue);
}
.btn--red {
  color: #fff;
  background: red;
  transition: background 0.3s;
}

.btn--red:hover {
  background: rgb(216, 104, 104);
}

table .btn--table {
  margin: 0 5px;
  font-size: 2rem;
  font-weight: 500;
  max-width: 100%;
  padding: 5px 10px;
  text-decoration: none;
  white-space: nowrap;
}

@media screen and (min-width: 660px) {
  .btn {
    font-size: 2rem;
    padding-left: 35px;
    padding-right: 35px;
  }
}

/* Login */

.login__footer {
  color: darkgray;
  background: white;
  padding: 20px 20px;
}

.login__footer-text {
  font-size: 1.2rem;
  margin: 0;
}

/* Register */

.register__container {
  background-color: rgba(249, 245, 245, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100vw;
}

.register__form {
  height: auto;
  position: fixed;
}

.register__title {
  color: var(--color-body);
  font-size: 2.8rem;
}

.register__flex {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 0 10px 0;
}

.register__close {
  margin: 0;
}

.register__close:hover {
  cursor: pointer;
}

/* Navbar */
nav {
  align-items: center;
  background: rgb(218, 216, 216);
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  padding: 10px 10px 5px 15px;
}

a {
  border-radius: 3px;
  border-bottom: 5px solid rgb(218, 216, 216);
  color: black;
  margin-right: 20px;
  padding: 10px;
  text-decoration: none;
}

.nav__menu-left {
  display: flex;
  align-items: center;
}

.nav__logo {
  width: 50px;
  margin-right: 10px;
}

.navbar__logout {
  color: white;
  background: var(--color-secondary);
  font-size: 1.5rem;
  padding: 10px 15px;
}

.active {
  box-shadow: 0 2px 15px rgb(0 0 0 / 25%);
  color: var(--color-headings);
  background: white;
  font-weight: 600;
  border-bottom: 5px solid var(--color-secondary);
}

/* Table */

table {
  border-spacing: 0;
  background-color: #fff;
  font-size: 2rem;
  margin: 0 auto;
  text-align: left;
}

tr:nth-child(even),
thead {
  background-color: rgb(215, 212, 212);
}

th,
td {
  padding: 10px 10px;
}

/* Pagination */

.pagination__navbar {
  background: var(--color-primary);
}

.pagination__list {
  border-radius: 5px;
  display: flex;
  cursor: pointer;
  list-style: none;
  margin: auto;
  padding: 5px;
}

.pagination__item {
  background: white;
  border-radius: 5px;
  margin: 2px;
  padding: 3px;
  transition: background 0.3s;
}

.pagination__anchor {
  border: none;
  color: var(--color-headings);
  font-weight: 600;
  margin: 0;
  transition: color 0.3s;
}

.pagination--active {
  background: var(--color-secondary);
}

.anchor--active {
  color: white;
}

/* List Group */
.listGroup {
  background: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  list-style: none;
  text-align: left;
  margin: 30px 40px;
  padding: 0;
}

.listGroup__item {
  cursor: pointer;
  font-size: 2rem;
  border-bottom: 2px solid var(--color-primary);
  padding: 10px 25px;
  transition: background 0.3s;
}

.listGroup__item--active {
  color: white;
  background: var(--color-secondary);
}
