:root {
  --color-primary: #126bc5;
  --color-secondary: #03039d;
  --color-accent--blue: #0b6efd;
  --color-accent--green: #398100;
  --color-accent--green-hover: #025e02;
  --color-body: #414042;
  --color-headings: #1e1e1c;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Forms */

input {
  display: block;
}

.flex {
  display: flex;
  justify-content: center;
}
